
.background-page {
    background-color: $gray;
    color: $black;
  }
  .booking-card, .listing-card {
    background-color: $light-gray;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba($black, 0.2); // Slightly stronger shadow for depth
    transition: box-shadow 0.3s ease;
    margin-bottom: 40px;
    position: relative;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    padding: 5%;
  }


  .card-name, .card-script {
    color: $orange;
    font-size: large;
    font-weight: bold;
  }
  .card-content {
    font-family: 'Helvetica Neue', Arial, sans-serif;
  }

  .booking-card, .listing-card:hover {
    box-shadow: 0 6px 12px rgba($black, 0.8);
  }

  .list-header, .booking-header {
    color: $orange;
    font-style: italic;
  }
  .list-header, .booking-header:hover{
    text-shadow: 0 6px 12px rgba($white, 0.5);
  }
  .btn {
    border: 1px solid;
    border-radius: 10px;
    background-color: orange;
    justify-content: center;
    padding: 2%;
    margin-bottom: 3px;
    color:black;
    text-decoration: none;
    }
