
.background-page {
    background-color: $gray;
    color: $black;
  }
  .card {
    background-color: $light-gray;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba($black, 0.2); // Slightly stronger shadow for depth
    transition: box-shadow 0.3s ease;
    margin-bottom: 20px;
    position: relative;
    font-family: 'Helvetica Neue', Arial, sans-serif;
  }

  h1 {
  color: $black;
  font-style: normal;
  }

  .card-title, .card-text {
    color: $orange;
  }
  .card-body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
  }

  .card:hover {
    box-shadow: 0 6px 12px rgba($black, 0.8);
  }

  h1:hover {
  text-shadow: 0 6px 12px rgba($black, 0.5);
  }
