// Specific CSS for your home-page
.banner {
 /* Use asset_path helper to reference the image */
  background-size: cover; /* Cover the entire area of the banner */
  background-position: 30% 70%; /* Center the background image */
  height: 200px; /* Adjust the height of the banner */
  text-align: center; /* Center the text horizontally */
  color: #fff; /* Set text color to white for contrast */
  padding-top: 50px; /* Adjust top padding to vertically center content */
  width: 100%;
  height: 270px;
}


.banner h1 {
  color: #fff; /* Set text color to white */
}

h2 {
  font-weight: bold;
  font-family: din-2014, Arial, sans-serif;
}
