// Import page-specific CSS files here.
@import "home";
@import "homecards";

/* SCSS Styling for Cards */
// Color variables
// Color variables
// Updated color theme
$deep-blue: #333;
$vibrant-orange: #FF6600;
$white: #FFF;
$black: #000; // Adjusted to black for better contrast against white

body {
  background-color: $deep-blue;
  color: $white; // Ensure text is easily readable
}

.heading-container {
  background-color: #333; // Adjusted for better contrast
  padding: 10px;
  margin-bottom: 17px;
  width: 100%;
}

h1 {
  font-family: 'din-2014', Arial, sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 0;
  color: white;
  padding-left: 10px;
}

.small-results, .results-count {
  font-size: 0.8rem;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.824); // Adjusted for better visibility
  opacity: 0.8; // Adjust for better readability
}

.card {
  background-color: $white;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba($black, 0.2); // Slightly stronger shadow for depth
  transition: box-shadow 0.3s ease;
  margin-bottom: 20px;
  position: relative;
  font-family: 'Helvetica Neue', Arial, sans-serif; // Change font to Helvetica Neue

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 8px;
    height: 100%;
    background-color: $vibrant-orange; // Use Vibrant Orange for a dynamic accent
    border-radius: 12px 0 0 12px;
  }

  &:hover {
    box-shadow: 0 6px 12px rgba($black, 0.3); // Enhanced hover effect
  }
}

.card-title, .price-text, .total-text {
  color: #333;
}

.card-text {
  color: #333; // Adjusted for better contrast
  font-family: 'Helvetica Neue', Arial, sans-serif; // Change font to Helvetica Neue
}

.btn-primary {
  background-color: $vibrant-orange; // Vibrant Orange for primary button
  border-color: darken($vibrant-orange, 10%);
  color: $white;
  &:hover {
    background-color: $white; // White background on hover
    color: $vibrant-orange; // Vibrant Orange text on hover
  }
}

.text-decoration-none {
  text-decoration: none;
  color: $white; // Ensuring readability
}

.small {
  font-size: 0.8rem;
}

.text-end.mb-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.description-title, .image.car-image-img-fluid, .car-div, .best-price {
  padding: 7px;
}

.vehicle-pricing {
  border-bottom: 1px solid rgba($white, 0.2); // Using white for subtle contrast
  display: inline-block;
  color: $vibrant-orange; // Set color to Vibrant Orange
  position: relative; // Position relative for absolute positioning of the faint line
}

.vehicle-pricing::after {
  content: '';
  position: absolute;
  bottom: -5px; // Adjust as needed
  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgba($vibrant-orange, 0.2); // Faint line color
}
