// Import page-specific CSS files here.
@import "home";
/* SCSS Styling for Cards */
// Color variables
// Color variables
$light-mint-green: rgb(51, 51, 51);
$grey: #E4E4DE;
$white: #FFFFFF;
$black: #1B1B1B;

body {
  background-color: $white;
}

.heading-container {
  background-color: $grey;
  border-bottom: 1px solid darken($grey, 10%);
  padding: 10px;
  margin-bottom: 20px;
  width: 100%;
}

h1 {
  font-family: din-2014, Arial, sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 0;
  color: $black;
}

.small-results {
  font-size: 0.8rem;
  font-weight: lighter;
  color: $black;
}

.card {
  background-color: $white;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba($black, 0.1);
  transition: box-shadow 0.3s ease;
  margin-bottom: 20px;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 8px;
    height: 100%;
    background-color: $light-mint-green;
    border-radius: 12px 0 0 12px;
  }
}

.card-title {
  font-size: 1rem;
  font-weight: bold;
  color: $black;
  margin-bottom: 8px;
  font-family: 'din-2014', Arial, sans-serif;
  font-size: 21px;
  font-size: 1.3125rem;
  letter-spacing: -.015625rem;
  font-weight: 700;
}

.card-text {
  color: $black;
  margin-bottom: 8px;
}

.vehicle-pricing {
  font-weight: 600;
  color: $black;
  text-transform: uppercase;
  margin-bottom: 0;
}

.price-text, .total-text {
  color: $black;
  margin-bottom: 4px;
}

.btn-primary {
  background-color: $light-mint-green;
  border-color: $light-mint-green;
  color: $white;
  font-weight: bold;
  text-transform: uppercase;
  padding: 8px 16px;
  font-size: 0.8rem;
}

.text-decoration-none {
  text-decoration: none;
  color: $black;
}

.small {
  font-size: 0.8rem;
}

.text-end.mb-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.results-count {
  font-size: 0.8rem;
  opacity: 0.7;
}

.description-title {
  max-width: 500px;
  margin: 0 auto;
}

.image.car-image-img-fluid{
  padding-right: 20px;
}

.car-div {
  margin-right: 7px;
}

.best-price{
  margin-right: 10px;
}

.vehicle-pricing {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3); /* Adjust the color and opacity as needed */
  display: inline-block; /* Ensures the border is only as wide as the text */
  margin-bottom: 5px; /* Adjust the margin as needed */
}
