.custom-image {
  max-width: 100%;
  width: 55%; /* Ensure image does not exceed its container */
}

.list-group-item {
  min-height: 50px; /* Adjust the height of list items */
}

// .bg-shadow {
// display: flex;
// justify-content: center;
// }

// .big-bold-header {
//   font-size: 24px; /* Adjust size as needed */
//   font-weight: bold;
// }

// /* _show_car.scss */
// .car-background {
//   background: linear-gradient(45deg, #007bff, #6610f2);
// }

// .main-container {
//   margin-top: 2rem;
// }

// .car-header {
//   background-image: url('path_to_background_image.jpg');
//   background-size: cover;
//   background-position: center;
// }

// .text-shadow {
//   text-shadow: 2px 2px 4px #000000;
// }

// .custom-btn-primary {
//   background-image: linear-gradient(to right, #0062E6, #33AEFF);
//   border: 0;
//   &:hover {
//     background-image: linear-gradient(to right, #0045D4, #007BFF);
//   }
// }

// .custom-btn-secondary {
//   background-image: linear-gradient(to right, #6c757d, #adb5bd);
//   border: 0;
//   &:hover {
//     background-image: linear-gradient(to right, #545b62, #6c757d);
//   }
// }
