<h1 class="text-center mb-4">Your Bookings</h1> <!-- Added mb-4 class for margin-bottom -->
<div class="row">
  <% @bookings.each do |b| %>
    <div class="col-12 col-lg-4 col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><%= "#{b.car.brand} #{b.car.model}" %></h5>
          <p class="card-text">
           <p><%= "From - #{b.start_date.strftime("%m/%d/%Y - %R")} to #{b.end_date.strftime("%m/%d/%Y - %R")}" %></p>
            <p><%=  "Location: #{b.location.address}" %></p>
          </p>
        </div>
      </div>
    </div>
  <% end %>
</div>
