<h1>Your Bookings</h1>
<% @bookings.each do |b| %>
  <p><%= "#{b.car.brand} #{b.car.model}" %></p>
  <p><%= "From - #{b.start_date.strftime("%m/%d/%Y - %R")} - #{b.end_date.strftime("%m/%d/%Y - %R")}" %></p>
  <p><%= "Pick Up Location: #{b.pick_up_location}" %></p>
  <p><%= "Return Location: #{b.return_location}" %></p>

<% end %>



<% %>
