<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">

  <div class="homepage">
    <div class="banner" style="background-image: url('<%= asset_path('background.jpg') %>');">
      <div class="home-title">
        <h1 class= "headerone" > Apex Auto </h1>
        <%= link_to "RENT A CAR", cars_path, class: "rent-button" %>
      </div>

    </div>
    <div class="offer-card">
    <p class= "offer">WE OFFER CAR RENTALS</p>
    </div>
    <div class="slogan">
      <h1 class="slogan-text">Your Ultimate Ride Awaits</h1>
      <p class="rental-description">
      Renting a car has never been easier with our two-step process. Simply choose your desired vehicle and pick-up location, then confirm your reservation. With our user-friendly platform and efficient service, you can get on the road in no time, experiencing hassle-free travel tailored to your needs.
      </p>
  </div>
    <h1 class= "headertwo" > Our Services </h1>

    <div class="card-whole">
      <div class="services-card">
      <h2 class="service-title">Quick Car Rental</h2>
      <p class="services-para">
        Renting a car has never been easier with our two-step process. Simply choose your desired vehicle and pick-up location, then confirm your reservation. With our user-friendly platform and efficient service, you can get on the road in no time.
      </p>
    </div>
    <div class="services-card">
      <h2 class="service-title">Flexible Car Hire</h2>
      <p>
        Our flexible car hire service offers convenient transportation solutions tailored precisely to your needs. Choose from our diverse fleet of vehicles and enjoy the freedom to explore your destination at your own pace.
    </div>
    <div class="services-card">
      <h2 class="service-title">List Your Car </h2>
      <p class="services-para">
        Have a car sitting idle? List it on our platform and start earning extra income by renting it out to travelers. With secure payment processing and comprehensive insurance coverage, listing your car for rent is a safe and reliable way to maximize its value.
      </p>
    </div>
  </div>



  <%# <div style="width: 100%; height: 600px;" %>
    <%# data-controller="map" %>
    <!--data-map-markers-value="<%= @markers.to_json %>" -->
    <!-- data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div> %> -->
