<div class="banner" style="background-image: url('<%= asset_path('car keys pic.jpg') %>');">
  <div class="container">
    <!-- Content within the banner -->
    <h1>Rent a car</h1>
    <!-- Add any other content you want to display in the banner -->
  </div>
</div>

<div class="container text-center mt-4">
  <h2>Find your car rental</h2>
</div>

<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
