<div class="banner" style="background-image: url('<%= asset_path('background.jpg') %>');">
  <div class="home-title">
    <h1>Apex Auto</h1>
    <a href="#" class="rent-button">Rent a Car</a>
  </div>
</div>



<%# <div style="width: 100%; height: 600px;" %>
  <%# data-controller="map" %>
  <!--data-map-markers-value="<%= @markers.to_json %>" -->
  <!-- data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div> %> -->
