<h1>Cars Available:</h1>

<% @cars.each do |c| %>
<li>
<%= link_to "#{c.brand} #{c.model}", car_path(c), class:"text-decoration-none" %>
</li>
<% end %>

<%# <div class="container">
  <div class="row">
    <%= image_tag "APEXAUTO.png", alt: "Le Wagon", width: 400 %>
  <%# </div> %>
<%# </div> %>
